@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Roboto:wght@300;400;500&display=swap');

/* Tùy chỉnh thanh cuộn trình duyệt */
:root{
    --main-color: #3468c0;
    --second-color: #f64571;
    --btn-color: #222;
}

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-color: #d3e7ff;
}

::-webkit-scrollbar-thumb{
    background-color: var(--btn-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #555;
}

/* Tuỳ chỉnh body */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    font-family: Poppins;
    overflow-x: hidden;
}

a{
    transition: all .3s ease-in-out;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    transition: all .3s ease-in-out;
    cursor: pointer;
}

/* Tuỳ chỉnh meun */
.menu{
    width: 85%;
    display: flex;
    height: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    animation: show 1s ease-in-out;
}

.menu .left-menu img{
    width: 80px;

}

.menu ul{
    display: flex;
    flex-direction: row;
}

.menu ul li a{
    margin-left: 40px;
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 500;
}

.menu ul li a:hover{
    font-size: 18px;
}

/* Tuỳ chỉnh home */
.home{
    padding: 7px 20px;
    background-color: var(--btn-color);
    border: none;
    border-radius: 20px;
    color: #eee !important;
    cursor: default;
}

.close{
    position: absolute;
    font-size: 23px;
    color: var(--btn-color);
    border: none;
    outline: none;
    top: 10px;
    left: 10px;
    background-color: transparent;
    display: none;
    cursor: pointer;
}

.show-header{
    position: fixed;
    top: 15px;
    right: 20px;
    font-size: 23px;
    color: var(--btn-color);
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    display: none;
}

.right-menu{
    transition: all .4s ease-in-out;
}

.data-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
}

/* Tuỳ chỉnh title */
.title-section{
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 40px;
    animation: show 1s ease-in-out;
}

.title h1{
    font-family: Roboto;
    font-size: 55px;
    max-width: 500px;
    width: 100%;
    line-height: 60px;
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.title p{
    margin-top: 20px;
    max-width: 500px;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
    color: #444;
    transition: all .3s ease;
}

.title button{
    margin-top: 40px;
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--btn-color);
    color: #eee;
    letter-spacing: 1px;
    font-size: 15px;
}

.title-img-box{
    display: flex;
    position: relative;
    max-width: 500px;
    width: 100%;
    height: 400px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
    animation: show 1s ease-in-out;
    background: linear-gradient(to left bottom, #3addfd, #fd72ea);
}

.title-img{
    position: absolute;
    max-width: 450px;
    width: 100%;
    bottom: 0;
    right: 10px;
    transition: all .3s ease-in-out;
}

/* Tuỳ chỉnh wapper 1 */
.wapper-one{
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.wapper-one-data{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.wapper-one h1{
    font-size: 35px;
    font-weight: 600;
    font-family: Roboto;
    width: 100%;
    max-width: 250px;
    transition: all .3s ease-in-out;
}

.wapper-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100%;
    max-width: 200px;
    height: 150px;
}

.wapper-info h2{
    font-weight: 600;
    font-size: 48px;
    color: var(--main-color);
    font-family: Roboto;
    transition: all .3s ease-in-out;
}

.wapper-info p{
    color: #444;
    font-size: 15px;
    transition: all .3s ease-in-out;
}

/* Tuỳ chỉnh wapper 2 */
.wapper-two{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    margin-top: 50px;
    width: 100%;
    height: 500px;
    border-radius: 110px;
    transition: all .3s ease-in-out;
    background: linear-gradient(to right bottom, #3a8ffd, #fd72ea);
}

.wapper-title{
    margin: 100px;
    transition: all .3s ease-in-out;
}

.wapper-title h1{
    width: 100%;
    max-width: 400px;
    font-size: 40px;
    font-family: Roboto;
    transition: all .3s ease-in-out;
}

.wapper-title button{
    padding: 8px 20px;
    color: #eee;
    background-color: var(--btn-color);
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}

.wapper-two-info{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 100px;
    transition: all .3s ease-in-out;
}

.two-info{
    height: 200px;
    width: 100%;
    transition: all .3s ease-in-out;
    padding-left: 20px;
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    transition: all .3s ease-in-out;
}

.icon-box i{
    font-size: 20px;
    color: var(--second-color);
}

.two-info h2{
    font-family: Roboto;
    font-weight: 600;
    font-size: 22px;
    margin-top: 10px;
    transition: all .3s ease-in-out;
}

.two-info p{
    width: 100%;
    max-width: 200px;
    color: #444;
    font-size: 16px;
    transition: all .3s ease-in-out;
}

/* Tuỳ chỉnh wapper 3 */
.wapper-three{
    width: 100%;
    margin-top: 100px;
    display: grid;
    height: 700px;
    transition: all .3s ease-in-out;
}

.wapper-three h1{
    font-size: 45px;
    width: 100%;
    max-width: 400px;
    font-family: Roboto;
    grid-column: 1/2;
    grid-row: 1/4;
    transition: all.3s ease-in-out;
}

.wapper-three-info{
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.wapper-three-info:nth-child(2){
    grid-column: 1/2;
    grid-row: 3/4;
}
.wapper-three-info:nth-child(3){
    grid-column: 2/2;
    grid-row: 2/4;
}
.wapper-three-info:nth-child(4){
    grid-column: 2/2;
    grid-row: 4/4;
}

.wapper-three h2{
    margin-right: 30px;
    color: var(--main-color);
    font-size: 35px;
    transition: all .3s ease-in-out;
}

.datails{
    width: 100%;
    max-width: 400px;
}

.datails h3{
    font-family: Roboto;
    font-size: 30px;
}

.datails p{
    margin-top: 15px;
    font-size: 16px;
    color: #444;
}

/* Tuỳ chỉnh wapper 4 */
.wapper-four{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    height: 450px;
    width: 100%;
    background-color: #b9d1fb;
    border-radius: 110px;
    border: none;
    outline: none;
    margin-top: 150px;
    transition: all .3s ease-in-out;
}

.four-right-side{
    margin-top: 60px;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    transition: all .3s ease-in-out;
}

.four-right-side h1{
    font-size: 45px;
    font-family: Roboto;
    margin-bottom: 30px;
    transition: all .3s ease-in-out;
}

.four-right-side li{
    list-style: circle;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    max-width: 500px;
    transition: all .3s ease;
}

.four-info{
    margin-top: 30px;
    transition: all .4s ease-in;
}

.four-info p:first-child{
    color: var(--main-color);
}

.four-info p:last-child{
    color: #555;
}

.four-left-side{
    height: 100%;
    width: 100%;
    max-width: 400px;
    position: relative;
    transition: all .3s ease-in-out;
}

.img-footer{
    width: 100%;
    max-width: 400px;
    position: absolute;
    transition: all .3s ease;
    bottom: 0;
}

/* Tuỳ chỉnh wapper 5 */
.wapper-five{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 460px;
    transition: all .4s ease-out;
}

.wapper-five h1{
    font-size: 40px;
    font-family: Roboto;
    margin-bottom: 20px;
    transition: all .3s ease-in-out;
}

.wapper-five p{
    font-size: 16px;
    margin-bottom: 20px;
    color: #444;
}

.wapper-five button{
    padding: 8px 20px;
    color: #eee;
    background-color: var(--btn-color);
    font-size: 17px;
    border: none;
    border-radius: 10px;
}

.wapper-five button:hover,.title button:hover,.wapper-title button:hover{
    background-color: var(--main-color);
}

.copyright{
    font-size: 13px;
    color: #666;
    margin-top: 50px;
    margin-bottom: 40px;
}

.right-menu.active{
    right: 0;
}

/* Tuỳ chỉnh trên các thiết bị khác */
@media (max-width:1245px){
    .img-footer{
        width: 370px;
        left: 0;
    }

    .title h1{
        max-width: 450px;
        font-size: 45px;
    }

    .title p{
        max-width: 370px;
    }

    .wapper-one h1{
        font-size: 30px;
    }

    .wapper-title h1, .four-right-side h1, .wapper-three h1{
        max-width: 350px;
        font-size: 42px;
    }

    .four-right-side h1{
        font-size: 40px;
    }
}

@media (max-width:1150px){
    .title-img-box{
        max-width: 400px;
        height: 350px;
    }

    .title-img{
        max-width: 350px;
    }

    .wapper-title, .wapper-two-info{
        margin-right: 50px;
    }

    .wapper-one{
        flex-direction: column;
    }

    .wapper-one h1{
        font-size: 35px;
        margin-bottom: 20px;
        text-align: center;
    }

    .wapper-two{
        justify-content: space-between;
    }

    .wapper-title{
        margin-left: 50px;
    }

    .four-right-side{
        align-items: center;
        margin-top: 40px;
        max-width: 400px;
    }

    .four-right-side li{
        margin-top: 15px;
        text-align: left;
        margin-left: 20px;
        max-width: 370px;
    }

    .wapper-four{
        padding: 20px;
    }
}

@media (max-width:900px){
    .right-menu{
        position: fixed;
        width: 270px;
        background-color: #f2fdfe;
        height: 100vh;
        z-index: 100;
        top: 0;
        align-items: center;
        right: -1000px;
    }

    .right-menu ul{
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        position: relative;
    }

    .right-menu ul li {
        margin-bottom: 30px;
    }

    .right-menu ul li a{
        margin: 0;
    }

    .show-header, .close{
        display: flex;
    }

    .left-menu img{
        position: fixed;
        top: 0;
        left: 10px;
        z-index: 100;
    }

    .title-section{
        margin: 0;
        margin-top: 20px;
        flex-direction: column-reverse;
        align-items: center;
    }

    .title-img-box{
        max-width: 390px;
        height: 300px;
        border-radius: 30px;
    }

    .title-img{
        max-width: 300px;
        right: 40px;
    }

    .title{
        align-items: center;
    }

    .title h1{
        text-align: center;
        margin-top: 30px;
        font-size: 40px;
        line-height: 55px;
        max-width: 450px;
    }

    .title p{
        text-align: center;
    }

    .wapper-one-data{
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .wapper-info h2{
        width: 100%;
        text-align: center;
    }

    .wapper-title h1, .wapper-three h1, .wapper-five h1{
        font-size: 35px;
    }

    .wapper-title button{
        margin-top: 30px;
    }

    .wapper-two{
        border-radius: 50px;
        height: auto;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 600px;
        padding: 20px;
    }

    .wapper-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 50px;
        width: 100%;
    }

    .wapper-title h1{
        margin: 0;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }

    .wapper-two-info{
        margin: 0;
        align-items: center;
    }

    .two-info{
        display: flex;
        margin: 0;
        padding: 20px;
        flex-direction: column;
        justify-content: center;
        height: 200px;
    }

    .two-info h1{
        text-align: center;
    }

    .two-info p{
        text-align: center;
    }

    .wapper-three{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wapper-three h1{
        text-align: center;
        max-width: 500px;
        margin-bottom: 50px;
    }

    .wapper-three-info{
        margin-top: 30px;
    }

    .wapper-four{
        border-radius: 50px;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 500px;
        height: auto;
        margin-top: 170px;
    }

    .img-footer{
        position: relative;
    }  
}

@media (max-width:900px){
    .wapper-three{
        margin-bottom: 20px;
    }
}

/* Tuỳ chỉnh hiệu ứng animation */
@keyframes show {
    0%{
        opacity: 0;
        scale: .9;
    }
}